.heading {
	position: relative;
	color: #f00;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom:10px;
	font-size:20px;
	padding:0 0 10px;
	border-bottom:solid #ccc 1px;
}
.heading:before {
	position:absolute;
	bottom: -3px;
	left: 20px;
	width: 35px;
	height: 5px;
	content: "";
	display: inline-block;
	background-color:#f00;
}
.heading:after {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 80px;
	height: 1px;
	content: "";
	display: inline-block;
	background-color:#f00;
}
.registration_form {
	margin:20px 0 0 0;
}
.form_box {
	margin:0;
}
.registration_form h2 {
	font-size:13px;
	color:#333;
	margin-bottom:16px;
}
.registration_form fieldset {
	padding:10px 10px 5px;
	margin-bottom:10px;
	border:solid #fff 1px;
	border-left: solid #fff 3px;
}
.registration_form fieldset.error_p {
	border-color:#f00;
}
.registration_form .fieldset label.error_p {
	font-size:12px;
	color:#f00;
	text-align:left;
	padding-left:30%;
	float: none;
	display: block;
	width: auto;
}
.registration_form label {
	display:block;
	float:left;
	width:30%;
	font-size:12px;
	color:black;
	font-weight:400;
	line-height:30px;
	text-align:right;
	padding-right:30px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.registration_form input[type="text"],
.registration_form input[type="email"],
.registration_form input[type="tel"],
.registration_form input[type="file"],
.registration_form input[type="password"],
.registration_form select,
.registration_form textarea {
	display:inline-block;
	padding:5px;
	width:30%;
	font-size:14px;
	color:black;
	font-weight:400;
	margin-top:0;
	margin-bottom:0;
	border-radius:2px;
	border:1px solid #e0d9d9;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.registration_form select {
	width: 21%;
}
.registration_form .time_feild select {
	width:50%;
}
.registration_form .radio_wrap {
	display:inline-block;
	float:none;
	width:60%;
}
.registration_form .radio_wrap label {
	display:inline-block;
	font-size:12px;
	width:auto;
	float:none;
	padding:0 10px;
	cursor:pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.registration_form input[type="radio"],
.registration_form input[type="checkbox"] {
	vertical-align:top;
	margin-top:10px;
}
.registration_form .time_feild {
	width:15%;
	float:left;
	margin:0 10px 0 0;
}
.registration_form input[type="submit"] {
	cursor:pointer;
	background:rgb(0, 132, 255);
	color:#fff;
	font-size:16px;
	border:none;
	padding:10px 20px;
	border-radius:2px;
	text-transform:uppercase;
}
.registration_form input[type="submit"]:hover {
	background:#0f0890;
}
.relative {
	position:relative;
}
.relative label.error_p {
	position:absolute;
	top:100%;
	left:0;
	z-index:89;
	width:250px !important;
}
.fieldset.padding-bottom.error_p {
	padding-bottom:30px;
}

.span_1_of_2 {
	width: 100%;
}

#main_footer {
	background:#353535;
	padding:10px 0;
	color:#fff;
    text-align: center;
    
}
#main_footer a {
	color:#fff;
}
#main_footer a:hover {
	color:#f00;
}